body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  background: #1e293b;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

#status {
  margin-top: 10px;
  color: #38bdf8;
}
